.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}

.list {
    width: 366px;

    &__input {
        display: flex;
        justify-content: space-between;
        max-height: 60px;
        background: white;
        align-items: center;
        border-radius: 4px;
        box-shadow: 0px 1px 4px 0px rgba(19, 19, 19, 0.1);
        padding: 13px 10px;

        &__search {
            &__svg {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 34px;
                width: 34px;

                background-color: #f1f2f3;

                border-radius: 20px;
            }
        }

        &__filter {
            display: flex;
            gap: 10px;

            button {
                height: 34px;
                width: 34px;
                border: 0;
                border-radius: 20px;
            }
        }
    }

    &__counter {
        display: flex;
        justify-content: space-between;
        padding: 16px 10px 16px 15px;

        &__count {
            display: flex;

            align-items: center;
            border-radius: 9px;
            background: var(--unnamed, #616f82);
            color: white;

            padding: 1px 4px;
            font-size: 12px;
        }

        &__btn {
            color: #616f82;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 1px 4px 0px rgba(19, 19, 19, 0.1);
    }
}

.profile {
    width: 744px;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-radius: 4px;
        background: #fff;
        box-shadow: 0px 1px 4px 0px rgba(30, 30, 30, 0.1);

        &__cart {
            display: flex;
            flex-direction: row;
            gap: 14px;
            padding: 10px;

            &__description {
                padding-top: 5px;
                h4 {
                    font-size: 16px;
                    font-style: normal;
                }
                p {
                    font-size: 12px;
                }
            }
        }

        &__ets {
            padding: 13px 16px;
            height: 34px;
        }
    }

    &__categories {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 13px 10px;
        color: #616f82;
        &__items {
            display: flex;
            p:not(:last-child)::after {
                content: "|";
                padding: 0 20px;
            }
        }

        &__new {
            display: flex;
            align-items: center;
            gap: 10px;
            button {
                width: 26px;
                height: 26px;
                border: 1px solid #616f82;
                border-radius: 20px;
            }
        }
    }

    &__content {
        border-radius: 4px;
        background: var(--unnamed, #fff);
        box-shadow: 0px 1px 4px 0px rgba(30, 30, 30, 0.1);

        &__item{
            display: flex;
            padding: 10px;
            &__ets{
                padding: 13px 16px;
            height: 34px;
            }
        }
    }
}
